[user]
	email = miguel@erizocosmi.co
	name = Miguel Molina
[core]
	excludesfile = ~/.gitignore
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	dad = !curl https://icanhazdadjoke.com && git add
	pushme = push -u me HEAD
	undo = reset --soft HEAD~
	wip = !git add -A && git commit -am 'wip'
        all = add -A
	c = commit -s -am
        p = push
	b = checkout -b
	cd = checkout
	a = commit -s --amend -C HEAD
