[user]
	email = miguel@erizocosmi.co
	name = Miguel Molina
	signingkey = 2C836326
[core]
	excludesfile = ~/.gitignore
[url "git@github.com:"]
	insteadOf = https://github.com/
[alias]
	dad = !curl https://icanhazdadjoke.com && git add
	pushme = push -u me HEAD
	undo = reset --soft HEAD~
	wip = !git add -A && git commit -am 'wip'
        all = add -A
	c = commit -s -am
        p = push
        pf = push -f
	b = checkout -b
	cd = checkout
	a = commit -s --amend -C HEAD
        addme = "!sh -c \"git remote add me git@github.com:erizocosmico/$1.git\" -"
[commit]
	gpgsign = true
[tag]
	gpgsign = true
